<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Lambda test suite Selenium-101">
    <listeners>
        <listener class-name="Listeners.ListenersSetup"/>
    </listeners>
    <test name = "ChromeTest">
        <classes>
            <class name = "LambdaTest.AssignmentTest"/>
        </classes>
    </test>    
</suite>

